@media only screen and (max-width: 1235px) {
    .img-woman {
        top: 130px;
    }

    .learning-footer {
        flex-basis: 40%;
    }

    .category-footer {
        flex-basis: 40%;
    }

    .useful-footer {
        flex-basis: 40%;
    }

    .contact-footer {
        flex-basis: 40%;
    }

    .footer-box {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1150px) {
    .more-courses {
        align-items: center;
    }

    .card-item h5 {
        font-size: 12px;
    }

    .card-item p {
        font-size: 10px;
    }
}

@media only screen and (max-width: 1050px) {
    .header, .title, .video, .feature, .statistical, .best-book, .more-courses, .register, .footer{
        padding: 50px 100px;
    }
    /* header */
    #sideNav {
        width: 200px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -200px;
        background: rgb(27, 171, 228);
        z-index: 1;
        transition: right 0.5s;
    }

    #menuBtn {
        opacity: 1;
    }

    nav ul li {
        display: block;
        width: 100%;
        margin: 50px 20px;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
    }
    /* title */
    .title-text h1 {
        font-size: 45px;
    }

    .text>span {
        font-size: 18px;
    }

    .text>p {
        font-size: 14px;
    }

    .text>button {
        width: 150px;
        font-size: 15px;
        border-radius: 20px;
    }

    /* video */
    .video1 {
        flex-basis: 75%;
        height: 300px;
      }
      
      .video1>img {
        width: 90%;
        height: 100%;
      }
      .text1>h2 {
        font-size: 30px;
      }
      .text1 > p{
        font-size: 14px;
      }
      /* feature */
      .title-feature>h1 {
        font-size: 30px;
      }
      .title-feature>p{
        font-size: 14px;
      }
/* statistical */
    .statistical {
        flex-direction: column;
    }

    .statistical-left h1 {
        font-size: 30px;
    }

    .statistical-left>p {
        font-size: 12px;
        padding: 0;
    }

    .title-statistical-1>img {
        width: 50px;
        height: 50px;
    }

    .title-statistical-2>img {
        width: 50px;
        height: 50px;
    }

    .title-statistical-3>img {
        width: 50px;
        height: 50px;
    }

    .statistical-item>p {
        font-size: 12px;
    }

    .text-statistical-right p {
        font-size: 14px;
    }

    .numbers-statistical p {
        font-size: 14px;
    }
    /* best-book */
    .title-best-book h1 {
        font-size: 30px;
      }
      .title-best-book p {
        font-size: 14px;
      }

      /* more courses */
      .title-more-courses h1 {
        font-size: 30px;
      }
      
      .title-more-courses p {
        font-size: 14px;
      }

      /* register */
      .text-register h1{
        font-size: 30px;
      }
      .text-register p{
        font-size: 14px;
      }

      /* footer */

}

@media only screen and (max-width: 875px){
    .more-courses{
        flex-direction: column;
    }
    .title-more-courses{
        flex-basis: 100%;
    }
    .img-more-courses{
        flex-basis: 100%;
        margin-left: 0;
    }
    .img-team img{
        width: 90%;
    }
}

@media only screen and (max-width: 770px){
    .img-woman{
        display: none;
    }
}
@media only screen and (max-width: 670px){
    .header, .title, .video, .feature, .statistical, .best-book, .more-courses, .register, .footer{
        padding: 30px 50px;
    }
}
@media only screen and (max-width: 560px){
    .header, .title, .video, .feature, .statistical, .best-book, .more-courses, .register, .footer{
        padding: 30px 5px;
    }
    #sideNav{
        width: 120px;
    }
    .title-text h1 {
        font-size: 30px;
    }

    .text>span {
        font-size: 14px;
    }

    .text>p {
        font-size: 10px;
    }

    .text>button {
        width: 100px;
        font-size: 12px;
        border-radius: 20px;
    }

    /* video */
    .video1 {
        height: 200px;
      }
      
      .video1>img {
        width: 80%;
        height: 100%;
      }
      .text1>h2 {
        font-size: 20px;
      }
      .text1 > p{
        font-size: 10px;
      }
      /* feature */
      .title-feature>h1 {
        font-size: 20px;
      }
      .title-feature>p{
        font-size: 10px;
      }

/* statistical */

    .statistical-left h1 {
        font-size: 20px;
    }

    .statistical-left>p {
        font-size: 10px;
    }

    .title-statistical-1>img {
        width: 40px;
        height: 40px;
    }

    .title-statistical-2>img {
        width: 40px;
        height: 40px;
    }

    .title-statistical-3>img {
        width: 40px;
        height: 40px;
    }

    .statistical-item>p {
        font-size: 10px;
    }

    .text-statistical-right p {
        font-size: 10px;
    }

    .numbers-statistical p {
        font-size: 10px;
    }
    /* best-book */
    .title-best-book h1 {
        font-size: 20px;
      }
      .title-best-book p {
        font-size: 10px;
      }

      /* more courses */
      .title-more-courses h1 {
        font-size: 20px;
      }
      
      .title-more-courses p {
        font-size: 10px;
      }

      /* register */
      .text-register h1{
        font-size: 20px;
      }
      .text-register p{
        font-size: 10px;
      }
      .btn-register button {
        border-radius: 5px;
        padding: 5px 15px 5px 15px;
        font-size: 10px;
      }

      /* footer */  
      .learning-footer i{
        scale: 0.7;
      }
      .title-footer h3 {
        font-size: 15px;
        font-weight: bold;
      }
      
      .content-footer p {
        font-size: 8px;
        opacity: 0.7;
      }
      .text-foot{
        font-size: 6px;
      }
}